html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #CBCBCB;
    color: #4A4A4A;
}

#preloader {
    position: fixed;
    background-image: url(https://i.pinimg.com/originals/36/3c/2e/363c2ec45f7668e82807a0c053d1e1d0.gif);
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

nav {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 950;
    width: 99vw;
    height: 13vh;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 5px 10px 1px #4A4A4A;
    backdrop-filter: blur(5px);
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    right: 50px;
    list-style-type: none;
    font-size: 25px;
    transition: 0.3s ease-in-out;
}

nav ul a:hover {
    background-color: #e2dfdf;
}

nav ul li a {
    border-radius: 10px;
    padding: 20px;
    color: #6d8196;
    text-decoration: none;
}

#hero-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 22vh;
    color: #6d8196;
    ;
    margin-left: 50px;
}


.hero-h1 {
    margin: 15px 0 15px 0;
    font-size: 70px;
    color: #4A4A4A;
    transition: 0.6s ease-in;
    transform: translateX(-500px);
}

.hero-h2 {
    margin: 5px;
    font-size: 38px;
    transition: 1s ease-in;
    transform: translateY(300px);
    opacity: 0;
}

.hero-p {
    margin: 5px;
    font-size: 23px;
    transition: 1s ease-in;
    transform: translateY(-300px);
}

.hero-img {
    border-radius: 30px;
    margin-right: 50px;
}

.text-link-layout-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.text-link-layout-hero a {
    text-decoration: none;
}

.icon-animation {
    transform: translateX(-500px);
    transition: 0.8s ease-in;
}

.social-link {
    margin-right: 25px;
    border-radius: 30px;
}

.insta-icon {
    border-radius: 0;
}

.description{
    font-size: 26px;
}

.section-style {
    margin-left: 50px;
    margin-top: 300px;
    font-size: 25px;
    font-weight: 600;
    text-wrap: balance;
}

.section-style h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 0 0 55px 0;

}

.section-style h3 {
    display: inline-block;
    font-size: 35px;
}

.section-style h4 {
    color: #6d8196;
    margin: 0 0 5px 0;
}

.skill-layout {
    display: flex;
    justify-content: space-around;
}

.skill {
    height: 100px;
}

.percentage-bar-base {
    height: 20px;
    width: 500px;
    border-radius: 10px;
    background-color: #a7a5a5;
}

.percentage-bar {
    height: 20px;
    width: 0;
    border-radius: 10px;
    background-color: black;
    transition: width 1.5s ease-out;
}

.percentage-bar.active {}

.percentage {
    font-size: 13px;
    color: #bcbcbc;
    text-align: right;
    line-height: 20px;
    padding-right: 5px;
    opacity: 0;
    transition: 0.5s ease-in;
}

.project-section {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-section h1 {
    margin: 0;
}

.project-title{
    font-size: 37px;
    text-underline-offset: 13px;
    font-style: italic;
    margin: 0 0 0 215px;
}


.gif-text-layout {
    display: flex;
    align-items: center;
    gap: 50px;
}

.gif {
    border: 5px solid #4A4A4A;
    border-radius: 10px;
}

.text-link-layout {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-link-layout a {
    width: 50px;
    border-radius: 10px;
    text-decoration: none;
}

.contact-section {
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

.input-field {
    border: 2px solid #4A4A4A;
    border-radius: 15px;
    height: 50px;
    width: 600px;
    padding: 0 0 0 27px;
    font-size: 18px;
    background-color: #e4e4e4;
}

input::placeholder {
    color: #6d8196;
}

.input-field:hover {
    box-shadow: 0 0 7px 0 #4A4A4A;
}

.message-field {
    padding: 5px 0 0 27px;
    height: 70px;
    width: 600px;
}

textarea::placeholder {
    color: #6d8196;
}

.submit-btn {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    width: 80px;
    height: 35px;
}

.submit-btn:hover {
    box-shadow: 0 2px 10px #4A4A4A;
}

.contact-gif-layout {
    display: flex;
    gap: 200px;
}

.gif-container {
    display: flex;
    align-items: center;
}

.gif-container img {
    border-radius: 10px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #bababa;
    color: #4A4A4A;
    margin-top: 50px;
}